menu "scooter Example Configuration"

    config MEDIA_RECEIVE_DEMO
        bool "media receive other device data"
        depends on MEDIA
        default n

    config MEDIA_DEMO_MODE_TCP
        bool "MEDIA RECEIVE DEMO USE TCP MODE"
        depends on MEDIA_RECEIVE_DEMO
        default n

    config LCD_PANEL_USE_1024X600
        bool "LCD Panel Use 1024x600"
        default y

    config AVI_PLAYER_WITHOUT_LVGL
        bool "Enable AVI Player without LVGL"
        default n
endmenu
